ion-menu-button {
  color: var(--ion-color-primary);
}

.main-container {
  text-align: center;
  left: 0;
  right: 0;
  .about-us {
    background-color: #000080;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    ion-item {
      color: #ffffff;
    }
    .title {
      padding: 10px 10px 10px 10px;
      color: #ffffff;
    }
    .about-us-content {
      padding: 15px;
      ::ng-deep p {
        font-size: 15px;
        color: #ffffff;
      }
    }
  }
}
