// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~ionic4-auto-complete/auto-complete";

ion-auto-complete {
    width: 50%;
    ion-searchbar{
        --ion-background-color: #ffffff;
    }
    ul{
        left: unset;
        li{
            text-align: left;
            padding:2px;
         }
         width: 49vw;
    }
  }
  .toolbar{
    .main-nav{
      float: right;
      ion-item {
        --border-style: none;
        ion-label{
            padding-left: 10px;
            width: max-content;
            overflow: visible;
        }
      }
    }
  }

  .ect-button-white{
    --background: #ffffff;
    color: #000000;
  }

  a {
    color: #000080 !important;
  }

  .toast-success{
    --ion-color-base: #000080 !important;
  }
  .toast-error{
    --ion-color-base: #be0211 !important;
  }